
#body_index  {
    font-family: "Mooli", sans-serif;
    font-weight: 400;
    font-style: normal; 
} 
#body_index {
    background: rgb(10,45,73);
background: linear-gradient(180deg, rgba(10,45,73,1) 19%, rgba(109,124,198,0.3617822128851541) 35%, rgba(10,45,73,1) 48%, rgba(109,124,198,1) 68%, rgba(10,45,73,1) 84%);

    .Logo_principal {
        position: absolute;
        top: 0;
        left: 2;
        width: 110px; 
        height: 150px;
    }
    .cabeceraindex {
        font-weight: 16px;
        background-color: #FAB90B;
        display: flex;
        justify-content:center;
        gap: 80px;
        padding: 20px;
        border: 1px solid #FAB90B;
        border-radius: 1px;
        width: 100%;
        height: 105;
    
        .reservaindex {
            color: #05662E;
            text-decoration: none;
        }
        .reservaindex:hover {
            color: #FAB90B;
            background-color: #0A2D49;
            outline: 10px solid #0A2D49;
            border-radius: 5px;
            width: 300px; 
        }
        .tureservaindex {
            color: #05662E;
            text-decoration: none;
        }
        .tureservaindex:hover {
            color: #FAB90B;
            background-color: #0A2D49;
            outline: 10px solid #0A2D49;
            border-radius: 5px;
            width: 300px; 
        } 
        .checkinindex{
            color: #05662E;
            text-decoration: none;
        }
        .checkinindex:hover {
            color: #FAB90B;
            background-color: #0A2D49;
            outline: 10px solid #0A2D49;
            border-radius: 5px;
            width: 300px; 
        }
        .estadodevueloindex{
            color: #05662E;
            text-decoration: none;
        }
        .estadodevueloindex:hover {
            color: #FAB90B;
            background-color: #0A2D49;
            outline: 10px solid #0A2D49;
            border-radius: 5px;
            width: 300px; 
        }
        .inisesind {
            color: #05662E;
            text-decoration: none;
        }
        .inisesind:hover {
            color: #FAB90B;
            background-color: #0A2D49;
            outline: 10px solid #0A2D49;
            border-radius: 5px;
            width: 300px;
        }
    }
    .avioninte1 {
        position: static;
        top: 5;
        left: 0;
        width: 1330px;
        height: 640px;
    }
    .deco{
        display: flex;
        .logo_deco{
            width: 110px; 
            height: 150px; 
        }
    .letre_deco {
        color: #848482;
        font-size: 36px;
    }
    }
    #inferior_index {
        display: flex;
        flex-direction: row;
        gap: 150px;
        color: #FAB90B;
        text-decoration: none;

        .contactenos_index {
            color: #FAB90B;
            text-decoration: none;
            font-size: 18px;
            }
        .contactenos_index:hover {
            color:#05662E;
        }
        .actualizaciones_vuelo_index{
            color: #FAB90B;
            text-decoration: none;
            font-size: 18px;
            }
        .actualizaciones_vuelo_index:hover {
            color:#05662E;
        }
        .asistencia_index{
            color: #FAB90B;
            text-decoration: none;
            font-size: 18px;
            }
        .asistencia_index:hover {
            color:#05662E;
        }
        .informacion_pasaportes_index{
            color: #FAB90B;
            text-decoration: none;
            font-size: 18px;
            }
        .informacion_pasaportes_index:hover {
            color:#05662E;
        }
        .preguntas_frecuentes_index{
            color: #FAB90B;
            text-decoration: none;
            font-size: 18px;
            }
        .preguntas_frecuentes_index:hover {
            color:#05662E;
        }
        .reembolsos_index{
            color: #FAB90B;
            text-decoration: none;
            font-size: 18px;
            }
        .reembolsos_index:hover {
            color:#05662E;
        }
        .quienes_somos_index{
            color: #FAB90B;
            text-decoration: none;
            font-size: 18px;
            }
        .quienes_somos_index:hover {
            color:#05662E;
        }
        .nuestra_historia_index{
            color: #FAB90B;
            text-decoration: none;
            font-size: 18px;
            }
        .nuestra_historia_index:hover {
            color:#05662E;
        }
        .trabaje_nosotros_index{
            color: #FAB90B;
            text-decoration: none;
            font-size: 18px;
            }
        .trabaje_nosotros_index:hover {
            color:#05662E;
        }
        .prensa_index{
            color: #FAB90B;
            text-decoration: none;
            font-size: 18px;
            }
        .prensa_index:hover {
            color:#05662E;
        }
        .politica_privacidad_index{
            color: #FAB90B;
            text-decoration: none;
            font-size: 18px;
            }
        .politica_privacidad_index:hover {
            color:#05662E;
        }
        .checkin_z_index{
            color: #FAB90B;
            text-decoration: none;
            font-size: 18px;
            }
        .checkin_z_index:hover {
            color:#05662E;
        }
        .gestiona_z_index{
            color: #FAB90B;
            text-decoration: none;
            font-size: 18px;
            }
        .gestiona_z_index:hover {
            color:#05662E;
        }
        .reserva_z_index{
            color: #FAB90B;
            text-decoration: none;
            font-size: 18px;
            }
        .reserva_z_index:hover {
            color:#05662E;
        }
        .estado_z_index{
            color: #FAB90B;
            text-decoration: none;
            font-size: 18px;
            }
        .estado_z_index:hover {
            color:#05662E;
        }
        .equipaje_index{
            color: #FAB90B;
            text-decoration: none;
            font-size: 18px;
            }
        .equipaje_index:hover {
            color:#05662E;
        }
        .normas_index{
            color: #FAB90B;
            text-decoration: none;
            font-size: 18px;
            }
        .normas_index:hover {
            color:#05662E;
        }
        .servicio_index{
            color: #FAB90B;
            text-decoration: none;
            font-size: 18px;
            }
        .servicio_index:hover {
            color:#05662E;
        }
    }
    .linea_infe_index{
        background-color:		#848482;
        height: 3px;
    }
    #footer {
        display: flex;
        .copy h6 {
            margin-bottom: -20px;
            color: #B9B8B5;
          }
        .logos_footer{
            display: grid;
            grid-template-rows: repeat(4, 0fr);
            justify-items: end;
          }
    
        .power {
            color:black;
            display: flex;
            justify-content:right;
            align-items: baseline;
            gap: 3px;
        }
    }
}

